<app-header></app-header>
<div class="container">
  <div class="columns">
    <div class="column is-2">
      <button class="button is-medium is-fullwidth">Button</button>
      <button class="button is-medium is-fullwidth">Button</button>
      <button class="button is-medium is-fullwidth">Button</button>
      <button class="button is-medium is-fullwidth">Button</button>
      <button class="button is-medium is-fullwidth">Button</button>
      <button class="button is-medium is-fullwidth">Button</button>
      <button class="button is-medium is-fullwidth">Button</button>
      <button class="button is-medium is-fullwidth">Button</button>
      <button class="button is-medium is-fullwidth">Button</button>
      <button class="button is-medium is-fullwidth">Button</button>
      <button class="button is-medium is-fullwidth">Button</button>
    </div>
    <div class="column">
      here be settings
    </div>
  </div>
</div>
<app-footer></app-footer>
