<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>ITAN</strong>
      <strong><a target="_blank" href="https://twitter.com/isthereanynews">&nbsp;<i class="fa fa-twitter"></i></a> </strong>
      <strong><a target="_blank" href="https://www.facebook.com/isthereanynews">&nbsp;<i class="fa fa-facebook"></i></a> </strong>
    <p>
    <p>Is there any news - by <a target="_blank" href="https://codeblast.pl">Code Blast - Jarosław Stadnicki</a>. 2020-2021
      All rights reserved
    </p>
  </div>
</footer>
