<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>ITAN</strong>
      <strong><a target="_blank" href="https://twitter.com/isthereanynews">&nbsp;<i class="fa fa-twitter"></i></a> </strong>
      <strong><a target="_blank" href="https://www.facebook.com/isthereanynews">&nbsp;<i class="fa fa-facebook"></i></a> </strong>
      <strong><a target="_blank" href="https://github.com/jstadnicki/isthereanynews">&nbsp;<i class="fa fa-github"></i></a> </strong>
      <strong><a target="_blank" href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#109;&#097;&#105;&#108;&#046;&#105;&#115;&#116;&#104;&#101;&#114;&#101;&#097;&#110;&#121;&#110;&#101;&#119;&#115;&#046;&#099;&#111;&#109;">&nbsp;<i class="fa fa-envelope"></i></a></strong>
    <p>
    <p>Is there any news - by <a target="_blank" href="https://codeblast.pl">Code Blast - Jarosław Stadnicki</a>. 2020-2021
      All rights reserved
    </p>
  </div>
</footer>
