<div class="container">
  <div class="columns">
    <div class="column is-2">
      <div *ngIf="!readersLoaded">
        <img src="./assets/giphy.webp" style="filter:grayscale(100%)"/>
        <hr/>
      </div>
      <button class='button is-small'
              [ngClass]="{'is-active':reader.id == this.selectedReader?.id}"
              (click)="onReaderClick(reader)"
              *ngFor="let reader of readers">
        <span class="text-ellipsis">{{reader.displayName}}</span>
      </button>
    </div>
    <div class="column" style="overflow-y: hidden">
      <div *ngIf="this.selectedReaderDetails!=null">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{this.selectedReader.displayName}}</strong><br>
                <br>
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <button role="button" class="button is-small" (click)="onSubscribeReader(this.selectedReader.id)" [disabled]="!this.isLoggedIn">
                    <i *ngIf="this.isLoggedIn" class="fa fa-link" alt="subscribe">&nbsp;</i>
                    <app-locker *ngIf="!isLoggedIn"></app-locker>
                    &nbsp;subscribe
                  </button>
                  <button role="button" class="button is-small" (click)="onUnsubscribeReader(this.selectedReader.id)"[disabled]="!this.isLoggedIn">
                    <i *ngIf="this.isLoggedIn" class="fa fa-unlink" alt="subscribe">&nbsp;</i>
                    <app-locker *ngIf="!isLoggedIn"></app-locker>
                    &nbsp;unsubscribe
                  </button>
                </a>
              </div>
            </nav>
          </div>

        </article>
        <hr/>
      </div>
      <div class="container" style="overflow-y: auto">
        <div *ngIf="this.notificationText.length>0"
             [ngClass]="{'is-danger':!this.notificationSuccessful,'is-success':!this.notificationSuccessful}"
             class="notification is-primary">
          <button class="delete" (click)="this.closeNotification()"></button>
          <span [innerText]="this.notificationText"></span>
        </div>
        <ul>
          <li *ngFor="let channel of this.selectedReaderDetails?.subscribedChannels">
            <div class="card">
              <header class="card-header"
                      (click)="this.selectedChannel===channel?this.selectedChannel=null:this.selectedChannel=channel">
                <p class="card-header-title">
                  {{channel.title}}
                </p>
                <i class="fa"
                   [ngClass]="{'fa-chevron-down':this.selectedChannel===channel, 'fa-chevron-up':this.selectedChannel!=channel}"
                   aria-hidden="true"></i>
              </header>
              <div *ngIf="this.selectedChannel === channel">
                <div class="card-content">
                  <div class="content">
                    <p>Subscribed: {{channel.createdOn}}</p>
                    <p>
                      <span>Total news count: {{channel.totalNewsCount}}</span>
                      <span *ngIf="channel.read">&ngsp;Read: {{channel.read}}</span>
                      <span *ngIf="channel.click">&ngsp;Click: {{channel.click}}</span>
                      <span *ngIf="channel.skip">&ngsp;Skip: {{channel.skip}}</span>
                    </p>
                  </div>
                </div>
                  <div class="button" href="#" (click)="onChannelSubscribeClick(channel.id)">Subscribe channel</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
