<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        ITAN POLICY / PRIVACY IS HERE
      </h1>
      <ul>
        <li>we take your email to log / sign you in</li>
        <li>we use cookies 🍪</li>
        <li>only we know your email</li>
        <li>will send you emails only with important things</li>
        <li>you can delete your account</li>
        <li>you can email us <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#109;&#097;&#105;&#108;&#046;&#105;&#115;&#116;&#104;&#101;&#114;&#101;&#097;&#110;&#121;&#110;&#101;&#119;&#115;&#046;&#099;&#111;&#109;">📧</a>
        </li>
      </ul>
    </div>
  </div>
</section>
