<div *ngIf="!loaded" class="is-centered">
  <img src="./assets/giphy.webp" style="filter:grayscale(100%)"/>
</div>

<div *ngIf="loaded" style="height: calc(100% - 56px - 96px);" >
  <section class="hero is-primary is-medium " style="height: calc(100% - 238px); overflow-y: hidden;">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-big">
          <app-landing-page-news class="is-12 column" [news]="news.topNews[topIndex]"></app-landing-page-news>
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <div class="tag is-info">
          Last 24h news
        </div>
        <div class="columns">
            <app-landing-page-news class="is-4 column" [news]="news.bottomNews[bottomPage+0]"></app-landing-page-news>
            <app-landing-page-news class="is-4 column" [news]="news.bottomNews[bottomPage+1]"></app-landing-page-news>
            <app-landing-page-news class="is-4 column" [news]="news.bottomNews[bottomPage+2]"></app-landing-page-news>
        </div>
      </div>
    </div>
  </section>
</div>
