<div *ngIf="!loaded" class="is-centered">
  <div class="fa fa-5x fa-spin fa-spinner">
  </div>
</div>

<div *ngIf="loaded">
  <section class="hero is-primary is-medium">
    <div class="hero-body">
      <div class="container">
        <div class="tag is-primary">
          Last week news
        </div>
        <div class="columns">
          <div class="column is-size-4 is-offset-2">
            <article class="media">
              <figure class="media-left" *ngIf="hasImage(news.topNews[topIndex])">
                <p class="image">
                  <img src="{{news.topNews[topIndex].content.Image}}">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>
                      <span>
                        {{news.topNews[topIndex].title}}
                      </span>
                    </strong>
                    <br/>
                    <small class="is-pulled-right">
                      <span class="fa fa-rss"></span>
                      {{news.topNews[topIndex].author}}
                    </small>
                    <br>
                    <span>
                      {{display(news.topNews[topIndex]) | striphtml}}
                    </span>
                    <span class="icon is-small">
                    <i
                      (click)="onExternalLinkClick(news.topNews[topIndex])"
                      class="fa fa-external-link"></i></span>
                    <br/>
                    <small class="is-pulled-right">
                      <span class="fa fa-calendar"></span>
                      {{news.topNews[topIndex].published|date}}
                    </small>
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <div class="tag is-info">
          Last 24 news
        </div>
        <div class="columns">
          <div class="column" *ngFor="let idx of [0,1,2]">
            <article class="media">
              <figure class="media-left" *ngIf="hasImage(news.bottomNews[bottomPage+idx])">
                <p class="image is-64x64">
                  <img src="{{news.bottomNews[bottomPage+idx].content.Image}}">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{news.bottomNews[bottomPage + idx]?.title}}</strong>
                    <small class="is-pulled-right">
                      <span class="fa fa-rss"></span>
                      {{news.bottomNews[bottomPage + idx]?.author}}
                    </small>
                    <br>
                    <span>
                      {{display(news.bottomNews[bottomPage + idx]) | striphtml}}
                    </span>
                    <br>
                    <span class="icon is-small"><i
                      (click)="onExternalLinkClick(news.bottomNews[bottomPage + idx])"
                      class="fa fa-external-link"></i></span>
                    <br/>
                    <small class="is-pulled-right">
                      <span class="fa fa-calendar"></span>
                    {{news.bottomNews[bottomPage + idx]?.published|date}}
                    </small>

                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
