<div *ngIf="!loaded" class="is-centered">
  <img src="./assets/giphy.webp" style="filter:grayscale(100%)"/>
</div>

<div *ngIf="loaded" style="height: calc(100% - 56px - 96px);" >
  <section class="hero is-primary is-medium " style="height: calc(100% - 238px); overflow-y: hidden;">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-4 is-offset-1">
            <figure *ngIf="hasImage(news.topNews[topIndex])">
              <p class="image">
                <img [src]="getImage(news.topNews[topIndex])">
              </p>
            </figure>
          </div>
          <div class="column is-6">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>
                      <span>
                        {{news.topNews[topIndex].viewModel.title}}
                      </span>
                    </strong>
                    <br/>
                    <small class="is-pulled-right">
                      <span class="fa fa-rss"></span>
                      {{news.topNews[topIndex].viewModel.author}}
                    </small>
                    <br>
                    <span [innerHTML]="display(news.topNews[topIndex])|striphtml">

                    </span>
                    <span class="icon is-small">
                    <i
                      (click)="onExternalLinkClick(news.topNews[topIndex])"
                      class="fa fa-external-link"></i></span>
                    <br/>
                    <small class="is-pulled-right">
                      <span class="fa fa-calendar"></span>
                      {{news.topNews[topIndex].viewModel.published|date}}
                    </small>
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <div class="tag is-info">
          Last 24 news
        </div>
        <div class="columns">
          <div class="column is-4" *ngFor="let idx of [0,1,2]" style="max-width: 100%">
            <article class="media columns">
              <figure *ngIf="hasImage(news.bottomNews[bottomPage + idx])" class="media-left column is-4">
                <p class="image">
                  <img [src]="getImage(news.bottomNews[bottomPage + idx])">
                </p>
              </figure>
              <div class="media-content column is-8">
                <div class="content" style="max-width: 100%">
                    <div class="hide-with-ellipsis" style="max-width: 100%">{{news.bottomNews[bottomPage + idx]?.viewModel.title}}</div>
                    <small class="is-pulled-right hide-with-ellipsis" style="max-width: 100%">
                      <span class="fa fa-rss"></span>
                      {{news.bottomNews[bottomPage + idx]?.viewModel.author}}
                    </small>
                    <br>
                    <span class="is-pulled-right hide-with-ellipsis"
                          style="max-width: 100%"
                          [innerHTML]="display(news.bottomNews[bottomPage + idx]) | striphtml">
                    </span>
                    <br>
                    <a href class="icon is-small"><i
                      (click)="onExternalLinkClick(news.bottomNews[bottomPage + idx])"
                      class="fa fa-external-link alias"></i></a>
                    <br/>
                    <small class="is-pulled-right">
                      <span class="fa fa-calendar"></span>
                    {{news.bottomNews[bottomPage + idx]?.viewModel.published|date}}
                    </small>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
