<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-warning">
        ACCOUNT DELETION - warning
      </h1>
      <ul>
        <li>account deletion cannot be reverted</li>
        <li>you will lost access to yours subscribed channels</li>
        <li><i class="fa fa-exclamation-triangle"></i> export of you subscriptions is not supported yet <i
          class="fa fa-exclamation-triangle"></i></li>
        <li>you will lost history of read news</li>
        <hr/>
        <li>we will lost a good user</li>
        <li>we will lost your email</li>
        <hr/>
        <li>we will keep anonymous informaction of what you have read - cant relate to you anymore</li>
        <li>we will keep anonymous informaction of what you have subscribed - cant relate to you anymore</li>
        <li>we will keep anonymous informaction of what you have submited - cant relate to you anymore</li>
        <hr/>
        <li>if you still want to proceed click the button, one more prompt will appear and thats all</li>
      </ul>
      <hr/>
      <button class="button is-danger" (click)="promptForDeletionAcknolwedge()">
        delete account
      </button>
    </div>
  </div>
</section>
