<app-header></app-header>
<div class="container">
  <div class="columns">
    <div class="column is-2">
      <progress class="progress is-large is-info is-hidden" [ngClass]="{'is-hidden':areChannelsLoaded}" max="100">60%
      </progress>
      <button class='button is-small'
              (click)="onChannelClick(channel)"
              [ngClass]="{'is-active':this.selectedChannel!=null && channel.id == this.selectedChannel.id}"
              *ngFor="let channel of channels">
        <div class="text-ellipsis">{{channel.title}} ({{channel.newsCount}})</div>
      </button>
    </div>
    <div class="column">
      <progress class="progress is-large is-info is-hidden" [ngClass]="{'is-hidden':!areNewsLoading}" max="100">60%
      </progress>
      <article class="media" *ngFor="let newsItem of news">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png"/>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{newsItem.title}}</strong><i class="fa"
                                                    [ngClass]="{'fa-chevron-down':!newsItem.contentVisible,'fa-chevron-up':newsItem.contentVisible}"
                                                    (click)="onNewsClick(newsItem)"></i>
            </p>
            <div *ngIf="newsItem.content" [ngClass]="{'is-hidden':!newsItem.contentVisible}">
              <progress class="progress is-info"
                        [ngClass]="{'is-hidden':!newsItem.loading}"
                        max="100">60%
              </progress>
              {{newsItem.content?.Content}}
            </div>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-comment-o"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-share-alt"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-thumbs-o-up"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-thumbs-o-down"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-bookmark-o"></i></span>
              </a>
            </div>
          </nav>
        </div>
        <!--        <div class="media-right">-->
        <!--          <button class="delete"></button>-->
        <!--        </div>-->
      </article>
    </div>
  </div>
</div>
<app-footer></app-footer>
