@page "/features"

<div>
    FEATURES
</div>

@code
{

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }

    protected override bool ShouldRender()
    {
        return base.ShouldRender();
    }

}
