<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io" routerLink="/">
      <img src="./favicon.ico" alt="itan logo">
      <span>ITAN</span>
    </a>

    <a role="button" class="navbar-burger burger" [ngClass]="{'is-active':isBurgerMenuActive}" aria-label="menu"
       aria-expanded="false" data-target="navbarBasicExample" (click)="onBurgerClick()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active':isBurgerMenuActive}">
    <div class="navbar-start">
      <!--      <a class="navbar-item" routerLink="/settings">-->
      <!--        settings-->
      <!--      </a>-->

      <!--      <a class="navbar-item" routerLink="/owner">-->
      <!--        owner-->
      <!--      </a>-->
      <!--      <a class="navbar-item" routerLink="/admin">-->
      <!--        admin-->
      <!--      </a>-->
      <a class="navbar-item" routerLink="/channels">
        <span>All</span>
      </a>

      <a *ngIf="loggedIn" class="navbar-item" routerLink="/subscriptions">
        <span>
          Subscriptions
        </span>
      </a>
      <a *ngIf="loggedIn" class="navbar-item" routerLink="/readers">
        <span>
          Readers
        </span>
      </a>
      <a class="navbar-item" routerLink="/privacy">
        <span>
          Privacy
        </span>
      </a>

      <!--      <div class="navbar-item has-dropdown is-hoverable">-->
      <!--        <a class="navbar-link">-->
      <!--          More-->
      <!--        </a>-->
      <!--        <div class="navbar-dropdown">-->
      <!--          <a class="navbar-item">-->
      <!--            About-->
      <!--          </a>-->
      <!--          <a class="navbar-item">-->
      <!--            Jobs-->
      <!--          </a>-->
      <!--          <a class="navbar-item">-->
      <!--            Contact-->
      <!--          </a>-->
      <!--          <hr class="navbar-divider">-->
      <!--          <a class="navbar-item">-->
      <!--            Report an issue-->
      <!--          </a>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" *ngIf="!loggedIn" (click)="login()">Log in</a>
          <div class="dropdown is-hoverable" *ngIf="loggedIn" >
            <div class="dropdown-trigger" >
              <button class="button">
                <span>{{username}}</span>
                <span class="icon is-small">
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="#" class="dropdown-item" routerLink="settings">
                  settings
                </a>
                <hr>
                <a href="#" class="dropdown-item" (click)="logout()">
                  logout
                </a>
                <a class="dropdown-item" routerLink="/delete-account">
                  delete account
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
