<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io" routerLink="/" >
      <img src="./favicon.ico" alt="itan logo">
      <span>ITAN</span>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
<!--      <a class="navbar-item" routerLink="/settings">-->
<!--        settings-->
<!--      </a>-->

<!--      <a class="navbar-item" routerLink="/owner">-->
<!--        owner-->
<!--      </a>-->
<!--      <a class="navbar-item" routerLink="/admin">-->
<!--        admin-->
<!--      </a>-->
      <a class="navbar-item" routerLink="/channels">
        <span><i class="fa fa-unlock"></i> All</span>
      </a>

      <a class="navbar-item" routerLink="/subscriptions">
        <span><i class="fa fa-lock"></i> Subscriptions</span>
      </a>

<!--      <div class="navbar-item has-dropdown is-hoverable">-->
<!--        <a class="navbar-link">-->
<!--          More-->
<!--        </a>-->
<!--        <div class="navbar-dropdown">-->
<!--          <a class="navbar-item">-->
<!--            About-->
<!--          </a>-->
<!--          <a class="navbar-item">-->
<!--            Jobs-->
<!--          </a>-->
<!--          <a class="navbar-item">-->
<!--            Contact-->
<!--          </a>-->
<!--          <hr class="navbar-divider">-->
<!--          <a class="navbar-item">-->
<!--            Report an issue-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" *ngIf="!loggedIn" (click)="login()">Log in</a>
          <a class="button is-light" *ngIf="loggedIn" (click)="logout()">Log out</a>
          <span *ngIf="loggedIn">
            <span class="fa fa-user">{{this.account?.name}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</nav>
