<div class="container">
  <div class="columns">
    <div class="column is-2">
      <img src="./assets/giphy.webp" [ngClass]="{'is-hidden':areChannelsLoaded}" style="filter:grayscale(100%)"/>
      <div [ngClass]="{'is-hidden':!areChannelsLoaded || channels.length>0 }">
        Looks like you are up to date with all news. Check later or subscribe more channels.
      </div>
      <div [ngClass]="{'is-hidden':!areChannelsLoaded || channels.length===0 }">Channels:</div>
      <button class='button is-small'
              (click)="onChannelClick(channel)"
              [ngClass]="{'is-active':this.selectedChannel!=null && channel.viewModel.id == this.selectedChannel.viewModel.id}"
              *ngFor="let channel of channels">
        <span class="text-ellipsis">{{displayTitleOrDescriptionOrUrl(channel)}}</span>
        <span class="">({{channel.viewModel.newsCount}})</span>
      </button>
      <hr/>
      <div [ngClass]="{'is-hidden':!areReadersLoaded || readers.length===0 }">
        Readers:
        <button class='button is-small'
                (click)="onReaderClick(reader)"
                [ngClass]="{'is-active':this.selectedReader!=null && reader.personId == this.selectedReader.personId}"
                *ngFor="let reader of readers">
          <span class="text-ellipsis">{{reader.displayName}}</span>
        </button>
        <hr/>
      </div>
      <button class="button" (click)="onImportClick()">import</button>
    </div>
    <div class="column" style="overflow-y: hidden">
      <div *ngIf="importOpml==true">
        <ul>
          <li>Please select a valid .opml file that contains channels you would like to subscribe to</li>
          <li>Channels that already exists will be added to your subscriptions</li>
          <li>Channels new to ITAN will be added to public list and your subscriptions</li>
          <li>No data subscriptions will be removed.</li>
          <li>Once imported it can take a while to download all information and update channels - please be patient</li>
        </ul>
        <div [ngClass]="{'is-hidden':!isImporting}" class="fa-5x fa fa-spin fa-spinner">

        </div>
        <form [formGroup]="importForm" (ngSubmit)="onImportSubmit()">
          <input id="file-input" type="file" (change)="handleFileInput($event)"/>
          <button
            class='button is-primary'
            type='submit'
            id='buttonUpload'>upload file
          </button>
        </form>
      </div>
      <div *ngIf="selectedChannel!=null">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{displayTitleOrDescriptionOrUrl(selectedChannel)}}</strong><br>
                <small>{{selectedChannel.viewModel.url}}</small>
                <br>
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <button class="button is-small" (click)="unsubscribe(selectedChannel)">
                  <i class="fa fa-unlink" alt="unsubscribe">&nbsp;</i>
                  Unsubscribe
                </button>
                <button class="button is-small" (click)="markUnreadAsRead(selectedChannel)">
                  <i class="fa fa-eye" alt="mark unread as read">&nbsp;</i>
                  mark unread as read
                </button>
              </div>
            </nav>
          </div>
        </article>
        <progress class="progress is-large is-info is-hidden" [ngClass]="{'is-hidden':!areNewsLoading}" max="100">60%
        </progress>
        <hr/>
        <div *ngIf="this.notificationText.length>0"
             [ngClass]="{'is-danger':!this.notificationSuccessful,'is-success':!this.notificationSuccessful}"
             class="notification is-primary">
          <button class="delete" (click)="this.closeNotification()"></button>
          <span [innerText]="this.notificationText"></span>

        </div>
      </div>
      <div class="container" style="overflow-y: auto">
        <article *ngIf="readerActivities!=null&&readerActivities.length==0">
          <p>There is no activity for this reader for last 7 days</p>
        </article>
        <article class="media" *ngFor="let activity of readerActivities">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png"/>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{activity.title}}</strong>&nbsp;{{activity.published|date}} &nbsp;
                <span class="pull-right tag"
                      [ngClass]="{'is-info is-medium': activity.readType === 'Read','is-success is-large': activity.readType === 'Click'}">
                  {{activity.readType}}
                </span>
              </p>
            </div>
            <nav class="level">
              <div class="level-left">
                <a class="level-item"
                   (click)="onActivityExternalLinkClick(activity)">
                  <span class="icon is-small"><i class="fa fa-external-link"></i></span>
                </a>
              </div>
            </nav>
          </div>
        </article>

        <article class="media" *ngFor="let newsItem of news">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png"/>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{getNewsTitle(newsItem)}}</strong>{{newsItem.viewModel.published|date}}<i class="fa"
                                                                                 [ngClass]="{'fa-chevron-down':!newsItem.contentVisible,'fa-chevron-up':newsItem.contentVisible}"
                                                                                 (click)="onNewsClick(newsItem)"></i>
              </p>

              <div *ngIf="newsItem.content" [ngClass]="{'is-hidden':!newsItem.contentVisible}">
                <progress class="progress is-info"
                          [ngClass]="{'is-hidden':!newsItem.loading}"
                          max="100">60%
                </progress>
                <span [innerHTML]="display(newsItem.content) | striphtml"></span>
              </div>
            </div>
            <nav class="level">
              <div class="level-left">
                <a class="level-item"
                   (click)="onExternalLinkClick(newsItem)">
                  <span class="icon is-small"><i class="fa fa-external-link"></i></span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
