.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.button {
  width: 100%;
}

.column {
  height: 100%;
  overflow-y: auto;
}

.container {
  height: calc(100% - 56px - 2em - 64px);

  .tag-news{
    border: 1px solid lightgray;
    background: #F0F0F0;
    border-radius: 15px;
    font-size: 10px;
    margin: 0 2px;
    padding: 0 1px;
  }

  .read-more{
    cursor: pointer;
    margin: 0 2px;
    padding: 0 1px;
  }
}

.columns {
  height: 100%;
  overflow-y: auto;
  margin-top: initial;
}

span {
  &.is-unread {
    font-weight: 700;
  }
  &.is-read{
    color: lightgray;
  }
}
